/sdkmanager/ibm-sdk/node_modules/ibm-cxa
/sdkmanager/ibm-sdk/node_modules/ibm-da
/sdkmanager/ibm-sdk/node_modules/ibm-tealeaf
/sdkmanager/ibm-sdk/node_modules/mobilesdkinstaller
/sdkmanager/LICENSE
.DS_Store
