<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppKey</key>
	<string>b6c3709b7a4c479bb4b5a9fb8fec324c</string>
	<key>DisableAutoInstrumentation</key>
	<false/>
	<key>GetImageDataOnScreenLayout</key>
	<false/>
	<key>JavaScriptInjectionDelay</key>
	<integer>100</integer>
	<key>KillSwitchEnabled</key>
	<true/>
	<key>KillSwitchMaxNumberOfTries</key>
	<integer>3</integer>
	<key>KillSwitchTimeInterval</key>
	<integer>180</integer>
	<key>KillSwitchTimeout</key>
	<integer>5</integer>
	<key>KillSwitchUrl</key>
	<string>https://lib-us-2.brilliantcollector.com/collector/switch/b6c3709b7a4c479bb4b5a9fb8fec324c</string>
	<key>UseWhiteList</key>
	<false/>
	<key>WhiteListParam</key>
	<string>id</string>
	<key>LogLocationEnabled</key>
	<false/>
	<key>MaxStringsLength</key>
	<integer>300</integer>
	<key>PercentOfScreenshotsSize</key>
	<integer>100</integer>
	<key>PercentToCompressImage</key>
	<integer>100</integer>
	<key>ScreenShotPixelDensity</key>
	<real>1.5</real>
	<key>PostMessageUrl</key>
	<string>https://lib-us-2.brilliantcollector.com/collector/collectorPost</string>
	<key>DoPostOnScreenChange</key>
	<false/>
	<key>printScreen</key>
	<integer>2</integer>
	<key>ScreenshotFormat</key>
	<string>jpg</string>
	<key>SessionTimeout</key>
	<integer>30</integer>
	<key>SessionizationCookieName</key>
	<string>TLTSID</string>
	<key>CookieSecure</key>
	<false/>
	<key>disableTLTDID</key>
	<false/>
	<key>SetGestureDetector</key>
	<true/>
</dict>
</plist>
