<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachingLevel</key>
	<integer>3</integer>
	<key>DoPostAppComesFromBackground</key>
	<false/>
	<key>DoPostAppGoesToBackground</key>
	<true/>
	<key>DoPostAppGoesToClose</key>
	<true/>
	<key>DoPostAppIsLaunched</key>
	<true/>
	<key>DoPostOnIntervals</key>
	<true/>
	<key>DynamicConfigurationEnabled</key>
	<true/>
	<key>HasToPersistLocalCache</key>
	<true/>
	<key>LoggingLevel</key>
	<integer>1</integer>
	<key>ManualPostEnabled</key>
	<false/>
	<key>PostMessageLevelCellular</key>
	<integer>1</integer>
	<key>PostMessageLevelWiFi</key>
	<integer>2</integer>
	<key>PostMessageTimeIntervals</key>
	<integer>30</integer>
</dict>
</plist>
