<?xml version="1.0" encoding="utf-8"?>
<!--
  Licensed Materials - Property of IBM
  (C) Copyright IBM Corp. 2015
  US Government Users Restricted Rights - Use, duplication or disclosure
  restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.da.kitchensink"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.tl.digitalanalytics.app.DigitalAnalyticsApplication"
     >
        <activity
            android:name="com.tl.digitalanalytics.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tl.digitalanalytics.app.ProductsActivity"
            android:label="@string/title_activity_products" >
        </activity>
        <activity
            android:name="com.tl.digitalanalytics.app.ShoppingCartActivity"
            android:label="@string/title_activity_shopping_cart" >
        </activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
