<?xml version="1.0" encoding="utf-8"?>
<!--
- Copyright (C) 2015 Acoustic, L.P. All rights reserved.
-
- NOTICE: This file contains material that is confidential and proprietary to
- Acoustic, L.P. and/or other developers. No license is granted under any intellectual or
- industrial property rights of Acoustic, L.P. except as may be provided in an agreement with
- Acoustic, L.P. Any unauthorized copying or distribution of content from this file is
- prohibited.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.da.kitchensink"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.digitalanalytics.api.DigitalAnalyticsApplication" 
     >
        <activity
            android:name="com.tl.digitalanalytics.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tl.digitalanalytics.app.ProductsActivity"
            android:label="@string/title_activity_products" >
        </activity>
        <activity
            android:name="com.tl.digitalanalytics.app.ShoppingCartActivity"
            android:label="@string/title_activity_shopping_cart" >
        </activity>
    </application>

</manifest>
