<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibm.tealeaf.aurora"
    android:versionCode="1"
    android:versionName="9.0.14.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="com.digitalanalytics.api.DigitalAnalyticsApplication"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".activities.login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.main.MainActivity"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.CheckoutActivity"
            android:icon="@drawable/logo"
            android:label="@string/title_activity_checkout" >
        </activity>
        <activity
            android:name="com.ibm.tealeaf.aurora.activity.ShippingActivity"
            android:icon="@drawable/logo"
            android:label="@string/title_activity_shipping" >
        </activity>
    </application>
</manifest>